services:
  - type: web
    name: api-guardian-game
    env: python
    region: singapore
    plan: free
    buildCommand: ./build.sh
    startCommand: gunicorn backend.main:app --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:$PORT
    envVars:
      PYTHON_VERSION: 3.11.6