/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&family=Roboto+Mono&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto Mono', monospace;
}
h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}